mixin headOption(params)
	if params.charset
		meta(charset="#{params.charset}")
	if params.title
		title !{params.title}
	if params.keywords
		meta(name="keywords", content="#{params.keywords}")
	if params.description
		meta(name="description", content="#{params.description}")
	if params.robots
		meta(name="robots", content="#{params.robots}")
	if params.viewport
		meta(name="viewport", content="#{params.viewport}")

mixin headOpenGrafs(params)
	if params.title
		meta(property="og:title", content="#{params.title}")
	if params.name
		meta(property="og:site_name", content="#{params.name}")
	if params.description
		meta(property="og:description", content="#{params.description}")
	if params.url
		meta(property="og:url", content="#{params.url}")
	if params.image
		meta(property="og:image", content="#{params.image}")

mixin headFavicon(params)
	if params.favicon
		link(href="#{params.favicon.src}", rel="shortcut icon", type="image/x-icon")
		link(href="#{params.favicon.src}", rel="icon", type="image/x-icon")
	if params.appleTouchIcon
		each icon in params.appleTouchIcon
			if icon.size
				link(href="#{icon.src}", rel="apple-touch-icon", sizes="#{icon.size}")
			else
				link(href="#{icon.src}", rel="apple-touch-icon")

mixin css(params)
	if params
		each file in params
			link(rel="stylesheet", type="text/css", media="#{file.media}", href="#{file.href + (file.noCache ? ('?v=' + Math.floor(Math.random() * 1000000)) : '')}")

mixin js(params)
	if params
		each file in params
			script(type="text/javascript", src="#{file.src}")

mixin menu(params)
	if params.rootClass && params.items
		- var innerCLass = params.rootClass + "-inner " + (params.ulClass ? params.ulClass : '')
		- var holderClass = params.rootClass + "-item-holder " + (params.holderClass ? params.holderClass : '')
		- var holderSubClass = holderClass + "--has-submenu"
		- var itemClass = params.rootClass + "-item"
		- var itemCurrentClass = itemClass + " " + itemClass + "--current"
		- var itemTextClass = params.rootClass + "-item-name"
		- var itemAddClass = params.rootClass + "-item-add"
		
		nav(itemscope, itemtype="http://schema.org/SiteNavigationElement", class="#{params.rootClass} #{params.addClass ? params.addClass : ''}")
			ul(class="#{innerCLass}")
				each item in params.items
					- var customItemClass = (item.linkClass ? itemClass + " " + item.linkClass : itemClass)
					- var customItemTextClass = (item.textClass ? itemTextClass + " " + item.textClass : itemTextClass)
					li(class="#{holderClass} #{item.items ? holderSubClass : ''}")
						if item.current
							span(title="#{item.title}", class="#{customItemClass} #{itemCurrentClass}")
								span(itemprop="name", class="#{customItemTextClass}") #{item.name}
								if item.addHTML
									span(class="#{itemAddClass}") #{item.addHTML}
							if item.items
								+menu({
									"rootClass": params.rootClass + "-level1",
									"items": item.items
								})
						else if item.href
							a(href="#{item.href}", title="#{item.title}", itemprop="url", class="#{customItemClass} #{item.class ? item.class : ''}")
								span(itemprop="name", class="#{customItemTextClass} #{item.textCLass ? item.textCLass : ''}") #{item.name}
								if item.addHTML
									span(class="#{itemAddClass}") #{item.addHTML}
							if item.items
								+menu({
									"rootClass": params.rootClass + "-level1",
									"items": item.items
								})

mixin phone(params)
	a(href="tel:#{params.tel}", title="#{params.title}", itemprop="telephone", class="#{params.class}")

mixin email(params)
	a(href="mail:#{params.email}", title="#{params.etitle}", itemprop="e-mail", class="#{params.class}")
